.App {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.primary {
    background-color: #616161 !important;
}

.secondary {
    background-color: white !important;
}

.card-container {
    border-radius: 15px !important;
    margin: 10px;
}

.Login {
    width: 450px;
}

.Login button {
    margin: 5px;
}

.Dashboard {
    width: 1200px;
    height: 80%;
}

.Sidebar {
    margin: 0px;
    border-radius: 0px !important;
    height: 100%;
}